<h1>{{assessment.name}}</h1>
<div class="row">
  <div class="col s2">
    <div class="form-group">
        <label for="id_inline">ID</label>
        <div>{{ assessment.id }}</div>
    </div>
  </div>
  <div class="col s4">
    <div class="form-group">
        <label for="url_inline">Url</label>
        <div><a href="{{ assessment.url }}">{{ assessment.url }}</a></div>
    </div>
  </div>
</div>


<div class="row cards">
  <div class="col m3 card">
    <div class="card-content">
      <div class="card-title title">NOT Completed</div>

      <table class="striped">
        <thead>
          <th>Name</th>
        </thead>
        <tbody>
          <tr *ngFor="let student of getNotCompleted(students)">
            <td><a href="/admin/students/{{student.id}}/show">{{ student.name }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col m8 card">
    <div class="card-content">
      <div class="card-title title">Completed</div>
        <table class="striped">
          <thead>
            <th>Name</th>
            <th>Username</th>
            <th>PR</th>
            <th>Score</th>
          </thead>
          <tbody>
            <tr *ngFor="let student of getCompleted(students)">
              <td><a href="/admin/students/{{student.id}}">{{ student.name }}</a></td>
              <td>{{ student.zipcode_rocks_username }}</td>
              <td><a href="{{ student.submissions[0].pr_url }}">PR</a></td>
              <td>
                <span *ngIf="student.grades.length > 0">
                  {{ student.grades[0].grade}} <a href="/admin/grades/{{ student.grades[0].id }}/edit">Edit</a>
                </span>
                <span *ngIf="student.grades.length < 1">
                  <input type="number" name="student-grade"
                  class="student-grade" [(ngModel)]="student.grade" />
                  <a class="btn green" (click)="addGrade(student)">Save</a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
