<h1>{{assessment.name}}</h1>
<div class="row">
  <div class="col s2">
    <div class="form-group">
        <label for="id_inline">ID</label>
        <div>{{ assessment.id }}</div>
    </div>
  </div>
  <div class="col s4">
    <div class="form-group">
        <label for="url_inline">Url</label>
        <div><a href="{{ assessment.url }}">{{ assessment.url }}</a></div>
    </div>
  </div>
</div>


<div class="row cards">
  <div class="col m5 card">
    <div class="card-content">
      <div class="card-title">NOT Completed</div>

      <table class="striped">
        <thead>
          <th>Name</th>
        </thead>
        <tbody>
          <tr *ngFor="let student of getNotCompleted(students)">
            <td><a href="/students/{{student.id}}/show">{{ student.name }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col m5 card">
    <div class="card-content">
      <div class="card-title">Completed</div>

      <table class="striped">
        <thead>
          <th>Name</th>
          <th>PR</th>
        </thead>
        <tbody>
          <tr *ngFor="let student of getCompleted(students)">
            <td><a href="/students/{{student.id}}">{{ student.name }}</a></td>
            <td><a href="{{ student.submissions[0].pr_url }}">PR</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
