<h1>Labs</h1>

<table class="striped">
  <thead>
    <th>Assign</th>
    <th>Name</th>
    <th>Github</th>
    <th>Assigned</th>
    <th>Due</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let lab of labs">
      <td><button class="btn" (click)="assign(lab)">Assign</button></td>
      <td><a href="/admin/labs/{{lab.id}}">{{ lab.name }}</a></td>
      <td><a href="{{ lab.url }}">Git</a></td>
      <td>{{ lab.assigned_date | date:'E M/d' }}</td>
      <td>{{ lab.due_date | date:'E M/d' }}</td>
      <td class="buttons">
        <a class="btn grey darken-2" href="/admin/labs/{{ lab.id }}/edit">Edit</a>
        <a class="btn red" (click)="delete(lab)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
