<h2>{{ student.name }}</h2>
<div class="row">
  <div class="col s3">
    <div class="form-group">
        <label for="id_inline">ID</label>
        <div>{{ student.id }}</div>
    </div>
  </div>
  <div class="col s3">
    <div class="form-group">
        <label for="github_username_inline">Github Username</label>
        <div>{{ student.github_username }}</div>
    </div>
  </div>
  <div class="col s3">
    <div class="form-group">
        <label for="email_inline">Email</label>
        <div>{{ student.email }}</div>
    </div>
  </div>
  <div class="col s3">
    <div class="form-group">
        <label for="cell_number_inline">Phone number</label>
        <div>{{ student.cell_number }}</div>
    </div>
  </div>
</div>


<div class="row cards">
  <div class="col m5 card">
    <div class="card-content">
      <div class="card-title">Assigned</div>

      <table class="striped">
        <thead>
          <th>Name</th>
          <th>Due Date</th>
        </thead>
        <tbody>
          <tr *ngFor="let lab of labs">
            <td><a href="{{ lab.url }}">{{ lab.name }}</a></td>
            <td>{{ lab.due_date | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col m5 card">
    <div class="card-content">
      <div class="card-title">Completed</div>

      <table class="striped">
        <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Phone #</th>
          <th>Github</th>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td><a href="/students/{{student.id}}/show">{{ student.name }}</a></td>
            <td><a href="{{ student.email }}">{{ student.email }}</a></td>
            <td>{{ student.cell_number }}</td>
            <td><a href="https://github.com/{{ student.github_username }}">{{ student.github_username }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
