<h1>{{lab.name}}</h1>
<div class="row">
  <div class="col s2">
    <div class="form-group">
        <label for="id_inline">ID</label>
        <div>{{ lab.id }}</div>
    </div>
  </div>
  <div class="col s4">
    <div class="form-group">
        <label for="url_inline">Url</label>
        <div><a href="{{ lab.url }}">{{ lab.url }}</a></div>
    </div>
  </div>
  <div class="col s3">
    <div class="form-group">
        <label for="assigned_date_inline">Assigned date</label>
        <input type="text" class="datepicker" value={{lab.assigned_date}}>
    </div>
  </div>
  <div class="col s3">
    <div class="form-group">
        <label for="due_date_inline">Due date</label>
        <input type="text" class="datepicker" value={{lab.due_date}}>
    </div>
  </div>
</div>


<div class="row">
  <div class="col m6 card">
    <div class="card-content">
      <div class="card-title">NOT Completed</div>

      <table class="striped">
        <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Phone #</th>
          <th>Github</th>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td><a href="/students/{{student.id}}/show">{{ student.name }}</a></td>
            <td><a href="{{ student.email }}">{{ student.email }}</a></td>
            <td>{{ student.cell_number }}</td>
            <td><a href="https://github.com/{{ student.github_username }}">{{ student.github_username }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col m6 card">
    <div class="card-content">
      <div class="card-title">Completed</div>

      <table class="striped">
        <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Phone #</th>
          <th>Github</th>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td><a href="/students/{{student.id}}/show">{{ student.name }}</a></td>
            <td><a href="{{ student.email }}">{{ student.email }}</a></td>
            <td>{{ student.cell_number }}</td>
            <td><a href="https://github.com/{{ student.github_username }}">{{ student.github_username }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
