<h4 class="title">Assessments</h4>
<table class="striped">
  <thead>
    <th>ID</th>
    <th>Type</th>
    <th>Name</th>
    <th>Score</th>
    <th>PR</th>
  </thead>
  <tbody>
    <tr *ngFor="let assessment of assessments">
      <td>{{ assessment.id }}</td>
      <td>{{ assessment.level }}</td>
      <td><a href="{{ assessment.url }}">{{ assessment.name }}</a></td>
      <td>{{ formatGrade(assessment) }}</td>
      <td>
        <span *ngIf="assessment.submissions">
          <a href="{{ assessment.submissions.pr_url }}">PR</a>
        </span>
      </td>
    </tr>
  </tbody>
</table>
