<!--The content below is only a placeholder and can be replaced.-->
<header *ngIf="isStaff">
  <ul id="nav-mobile" class="sidenav sidenav-fixed" style="transform: translateX(0%);">
      <li class="bold">
        Students
        <ul>
          <li class="bold">
            <a href="/admin/students" class="waves-effect waves-teal">
              All
            </a>
          </li>
          <li class="bold">
            <a href="/admin/students/new" class="waves-effect waves-teal">
              Create student
            </a>
          </li>
        </ul>
      </li>
      <li>
        Labs
        <ul>
          <li class="bold">
            <a href="/admin/labs" class="waves-effect waves-teal">
            All
          </a>
        </li>
        <li class="bold">
          <a href="/admin/labs/new" class="waves-effect waves-teal">
            Create lab
          </a>
        </li>
      </ul>
    </li>
    <li class="bold">
      Assessments
      <ul>
        <li class="bold">
          <a href="/admin/assessments" class="waves-effect waves-teal">
            All
          </a>
        </li>
        <li class="bold">
          <a href="/admin/assessments/new" class="waves-effect waves-teal">
            Create assessment
          </a>
        </li>
      </ul>
    </li>
    <li class="bold">
      Submissions
      <ul>
        <li class="bold">
          <a href="/admin/submissions" class="waves-effect waves-teal">
            All
          </a>
        </li>
        <li class="bold">
          <a href="/admin/submissions/new" class="waves-effect waves-teal">
            Create submission
          </a>
        </li>
      </ul>
    </li>
  </ul>
</header>
<main>
  <div class="right" *ngIf="isAuthenticated">
    <div class="user-info">Hi {{ user.username }}! <a href="/auth/logout">Logout</a></div>
  </div>
  <router-outlet></router-outlet>
</main>
