<h1>Students</h1>

<table class="striped">
  <thead>
    <th (click)="sortName()">Name</th>
    <th (click)="sortLab()">Lab PR</th>
    <th *ngFor="let assessment of assessments" (click)="sortAssessment(assessment)">{{ assessment.name }}</th>
    <th>Github</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td><a href="/admin/students/{{student.id}}">{{ student.name }}</a></td>
      <td>
        {{ student.submissions.length }} ({{formatLabProgress(student)}})
        <div class="progress">
          <div class="determinate" [style.width]="formatLabProgress(student)"></div>
        </div>
      </td>
      <td *ngFor="let assessment of assessments">{{ getGradeForAssessment(assessment, student.grades) }}</td>
      <td><a href="https://github.com/{{ student.github_username }}">{{ student.github_username }}</a></td>
      <td class="buttons">
        <a class="btn grey darken-2" href="/admin/students/{{ student.id }}/edit">Edit</a>
        <a class="btn red" (click)="delete(student)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
