/* You can add global styles to this file, and also import other style files */

h1, .title {
  color: #26a69a;
}

.cards .card {
  margin: 10px;
  border: 1px solid #E1E1E1;
}

.buttons .btn {
  margin-right: 10px;
}

select.browser-default {
  border-bottom: 1px solid #9e9e9e;
}

.tab {
  border-right: 1px solid #EFEFEF;
  border-bottom: 2px solid #EFEFEF;
  margin:2px;
}

.tab:last-child {
  border-right: 0;
}
