.app-home {
  text-align: center;
  .icon {
    min-width: 100px;
    width: 60%;
    margin-bottom: 50px;
    margin-top: 20px;
    max-width: 500px;
  }

  .fab {
    font-size: 1.5em;
    vertical-align: middle;
  }

  .action{
    text-align: center;
  }
}
