.app-home {
  .icon {
    min-width: 100px;
    width: 60%;
    margin-bottom: 50px;
    margin-left: 10%;
  }

  .fab {
    font-size: 1.5em;
    vertical-align: middle;
  }

  .actions {
    margin-left: 20%;
  }

  .action {
    margin: 10px;
  }
}
